<div class="modal-content">

    <div class="modal-header modal-danger">
        <h3 class="modal-title " id="modal-title">Confirmar exclusão <i class="fa pull-right fa-trash-o"> </i></h3>
    </div>

    <div class="modal-body" id="modal-body">
        <h3>Esse registro será deletado permanentemente, deseja prosseguir?</h3>
    </div>
    <div class="modal-footer">

        <button class="btn btn-default" type="button" ng-click="close()">Cancelar</button>
        <button class="btn btn-danger" type="button" ng-click="deleteRegister()">Deletar</button>

    </div>

</div>